.navbar  {height: 100px; position: absolute; grid-template-rows: 70px; z-index: 200; border-bottom: 1.5px solid rgb(231, 231, 231);}
.navbar-product {height: 100px; width: 50%; position: sticky; z-index: 200; border-bottom: 1.5px solid rgb(231, 231, 231);}

.logo {place-items: center start; height: 30px; }
#upper-navbar-container {height: 100px;}
#upper-navbar-container img {height: 50px;}
#lower-navbar-container {grid-template-columns: 1fr 0.05fr 0.2fr}

.search-bar {border-radius: 50px; padding: 10px 0px; grid-template-columns:1fr 50px;}
.search-bar:hover {box-shadow: 2px 2px 10px rgba(78, 73, 73, 0.549);}
.circle {height: 35px; width: 35px; border-radius: 50%; }
.bar {border-radius: 50px; padding: 8px; align-items: center; }
.bar-box {border-radius: 50px; padding: 8px;}
.bar-box:hover {box-shadow: 2px 2px 10px rgba(143, 140, 140, 0.549);}
.bar:hover {background-color: rgb(223, 223, 223);}


.product-img img {width: 100%; height: auto; ; object-fit: cover; border-radius: 10px;}
/* .product-img {width: 200px; height: 300px;} */
.product-page {grid-template-rows: 0.1fr 0.3fr 0.7fr 1fr;}
.header-page {border-radius: 20px;}
.product-title {grid-template-rows: 0.3fr 0.3fr;}
.product-title-option {grid-template-columns: 1fr 0.3fr;}

/* grid-template-columns: 1fr 250px; */
 
.product-gallery {width: 92%; grid-template-columns: 1fr 0.5fr 0.5fr;} 
.products-gallery img {border: 0px solid rgb(0, 0, 0); width: 100%; height: 100%; position: relative;} 
/* .product-img {width: 80%;}  */
.product-img :hover{filter: brightness(0.85);}

#product-details-container {grid-template-columns: 1fr 0.7fr;}
.product-reservation-box {border-radius: 10px; grid-template-rows: 0.2fr 0.4fr 0.4fr 0.4fr 0.2fr; z-index: 100; top: 0; padding: 25px 35px!important; gap: 20px;}
.product-reservation-box-inner {border: solid 1px rgb(216, 216, 216); border-radius: 10px;}
.dates {border-bottom: 1px solid rgb(216, 216, 216); height: 50px;}

#travelers {height: 50px;}
.red-airbnb {background-color: #dc0e63;}
.price-details {grid-template-columns: 1fr 0.3fr; height: 30px;}


.navbar-product-mobile {display: none!important}
.product-title-mobile {display: none!important}
.product-reservation-box-mobile {display: none}



/* Here we are fixing the responsive of the produt page */

@media screen and (min-width : 0px) and (max-width : 800px) {
        .navbar-product {display: none!important}
        #upper-navbar-container {display: none!important}
        .navbar-product-mobile {height: 50px; grid-template-columns: 0.1fr 1fr 0.3fr ; display: grid!important;}
        .product-gallery {grid-template-columns: 1fr;}
        /* .product-gallery img {grid-template-columns: 1fr;} */
        .img-none {display: none!important}
        .header-page {display: none!important;}
        .product-page {grid-template-rows: 0.1fr 100px 0.7fr 1fr;}
        .product-gallery {width: 100vw;}
        .product-gallery img {border-radius: 0px;}
        .product-title-mobile {display: grid!important;}
        .product-title-option {grid-template-columns: 1fr;}
        .product-reservation-box {display: none!important;}
        .product-reservation-box-inner {display: none!important;}
        #item-none {display: none!important;}
        .product-reservation-box-mobile {display: grid; grid-template-columns: 1fr 1fr;position: fixed;bottom: 0; width: 100vw;z-index: 300; background-color: white;padding: 20px 5px;}
        .product-reservation-box-inner-mobile {display: grid!important; border: solid 1px rgb(216, 216, 216); border-radius: 10px; width: 100px; }
        #house-equipement-options {grid-template-columns: 1fr!important;}
        #product-details-container { grid-template-columns: 1fr;}
        /* .product-gallery {width: 650px;;} */
        /* .product-title-mobile {display: grid!important} */
        /* .header-page-mobile {display: grid; height: 400px!important} */
        /* .product-page {grid-template-rows: 500px!important; width: 580px!important} */






    
}